{% extends 'base.html' %}
{% load static %}
{% block desc %}
        Welcome to SHOPY-the ecommerce store
{% endblock %}
{% block title %}
SEARCH
{% endblock %}

{% block body %}
<div>
    <p  class="text-center" style="padding-top:20px;">You have searched for : <b>"{{query}}"</b></p>
</div>
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
            <div class="bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_img" src="{{product.img.url}}" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                        <h4>{{product.price}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<div class="row mx-auto">
    <div class="text-center" style="padding-top:20px">0 results found</div>
</div>
{% endfor %}

{% endblock %}